:root {
  --active-color: #2196f3;
  --title-color: #212121;
  --white-color: #ffffff;
  --text-color: #757575;
  --bcg-color: #f5f4fa;
  --icon-color: #afb1b8;
  --bcg-hero: rgba(47, 48, 58, 0.4);
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--white-color);
  color: var(--text-color);
}

/*  Сброс всех стилей */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: block;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}

/* Что б скрыть заголовок */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Контейнер */
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  /* для самопроверки */
  /* outline: 2px solid tomato; */
}

/* Отсуп для section */
.section {
  padding: 94px 0;
}

/* START CSS STYLE */

/* Лого */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
  text-decoration: none;
}
.logo > span {
  color: var(--active-color);
}

/* Главное меню */
.header-flex {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: 1px solid #ececec;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  padding: 32px 0;

  position: relative;

  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  transition: color var(--animation);
}
.site-nav .link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;

  position: absolute;
  left: 0;
  bottom: 0;

  border-radius: 2px;
  background-color: transparent;

  transition: background-color var(--animation);
}
.site-nav .link:hover::after,
.site-nav .link:focus::after,
.site-nav .link.active::after {
  background-color: var(--active-color);
}

.site-nav .link:visited {
  color: var(--title-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--active-color);
}
.site-nav .item .active {
  color: var(--active-color);
}
.site-nav .active:hover,
.site-nav .active:focus {
  color: var(--title-color);
}

/* Почта и номер телефона */
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item:not(:last-child) {
  margin-right: 50px;
}
.auth-nav .link {
  display: flex;
  align-items: center;

  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  transition: color var(--animation);
}
.auth-svg {
  fill: currentColor;

  margin-right: 10px;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--active-color);
}

/* Главное окно */
.section-hero {
  padding: 200px 0px;

  background-color: #2f303a;
  background-image: linear-gradient(var(--bcg-hero), var(--bcg-hero)),
    url("../images/bgc-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
}
.section-hero .title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  color: var(--white-color);
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  display: block;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;

  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-color);
  background-color: var(--active-color);
  cursor: pointer;
  letter-spacing: 0.06em;
  font-family: inherit;
  border: transparent;

  transition: background-color var(--animation);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button:hover,
.button:focus {
  background: #188ce8;
}

/* Преймущества блок */
.list-one li {
  flex-basis: calc((100% - 90px) / 4);
}
.oneblock-icon {
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  background-color: var(--bcg-color);
  border-radius: 4px;
}
.oneblock-svg {
  fill: var(--title-color);
}
.section.one .subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  color: var(--title-color);
  line-height: 1.15;
  text-transform: uppercase;
}
.section.one .text {
  font-size: 14px;
  line-height: 1.7;
}
.list-one {
  display: flex;
}
.list-one li:not(:last-child) {
  margin-right: 30px;
}

/* ВТОРОЙ БЛОК */
.section.two {
  padding-top: 0;
}
.section .title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-color);
}
.list-two {
  display: flex;
}
.list-two .item {
  position: relative;
}
.list-two .text {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
}
.list-two li:not(:last-child) {
  margin-right: 30px;
}

/* Третий блок */
.section.comanda {
  background-color: #f5f4fa;
}
.comanda .list {
  display: flex;
}
.comanda-li {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
}
.comanda-li:not(:last-child) {
  margin-right: 30px;
}
.comanda img {
  margin-bottom: 30px;
}
.comanda-li .text {
  margin-bottom: 16px;
}
.section.comanda .subtitle {
  margin-bottom: 10px;

  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.section.comanda .text {
  line-height: 1.19;
  text-align: center;
}
.comanda-bottom {
  padding: 0 15px;
}
/* Социальные сети */
.soc-list {
  display: flex;
  justify-content: center;
  color: var(--icon-color);
}
.soc-item {
  width: 44px;
  height: 44px;
}
.soc-item:not(:last-child) {
  margin-right: 10px;
}
.soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border-radius: 50%;
  background-color: transparent;

  transition: background-color var(--animation), color var(--animation);
}
.soc-link:hover,
.soc-link:focus {
  background-color: var(--active-color);
  color: var(--white-color);
}
.soc-svg {
  fill: currentColor;
}

/* БЛОК КЛИЕНТЫ */
.client-list {
  display: flex;
  justify-content: center;
}
.client-item {
  width: 170px;
  height: 92px;
}
.client-item:not(:last-child) {
  margin-right: 30px;
}
.client-link:hover,
.client-link:focus {
  color: var(--active-color);
  border-color: var(--active-color);
}
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  border: 1px solid var(--icon-color);
  color: var(--icon-color);
  border-radius: 4px;

  transition: border-color var(--animation), color var(--animation);
}
.client-svg {
  fill: currentColor;
}

/* ФУТЕР */
.footer {
  padding: 60px 0px;

  background-color: #2f303a;
}
.footer-div {
  display: flex;
  align-items: baseline;
}
.footer .logo {
  margin-bottom: 20px;

  color: var(--white-color);
}
.footer-one .list li:not(:last-child) {
  margin-bottom: 9px;
}
.link-white,
.link-grey {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;

  transition: color var(--animation);
}
.link-white {
  color: var(--white-color);
}
.link-grey {
  color: rgba(255, 255, 255, 0.6);
}
.link-white:hover,
.link-white:focus,
.link-grey:hover,
.link-grey:focus {
  color: var(--active-color);
}
.footer-two {
  margin-left: 80px;
}
.footer-two .title,
.footer-three-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white-color);
  text-transform: uppercase;
}
.footer-two .soc-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
}
.footer-two .soc-link:hover,
.footer-two .soc-link:focus {
  background-color: var(--active-color);
  color: var(--white-color);
}
/* третий блок в футере */
.footer-three {
  margin-left: auto;
}
.footer-form {
  display: flex;
}
.footer-input-email {
  padding: 15px 16px;
  margin-right: 15px;

  width: 358px;

  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
  background-color: transparent;
  color: white;

  transition: border-color var(--animation);
}
.footer-input-email:focus {
  border-color: var(--active-color);
}
.footer-input-email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-btn {
  display: flex;
  align-items: center;
}
.footer-form-icon {
  margin-left: 10px;
}
/* фильтр на странице портфолио */
.list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.list-button li:not(:last-child) {
  margin-right: 8px;
}
.btn {
  padding: 6px 22px;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-color);
  background-color: #f5f4fa;
  cursor: pointer;
  font-family: inherit;
  border: transparent;
  letter-spacing: 0.03em;
  box-shadow: none;

  transition: background-color var(--animation), color var(--animation),
    box-shadow var(--animation);
}
.btn:hover,
.btn:focus {
  background-color: var(--active-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* карточки товара */
.card {
  margin: -15px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card li {
  flex-basis: calc((100% - 90px) / 3);
  margin: 15px;
}
.card-hover {
  position: relative;
  overflow: hidden;
}
.card-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding: 63px 24px 0 24px;

  font-size: 18px;
  line-height: 1.56;

  color: var(--white-color);
  background: rgba(33, 150, 243, 0.9);

  transition: transform var(--animation);
}
.card .text {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
  border-top: transparent;

  box-shadow: none;
}
.card h2 {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  color: var(--title-color);
  line-height: 2;
  letter-spacing: 0.06em;
}
.card .text p {
  font-size: 16px;
  line-height: 1.88;
}
.card-link {
  box-shadow: none;

  transition: box-shadow var(--animation);
}
.card-link:hover .card-text,
.card-link:focus .card-text {
  transform: translateY(0%);
}
.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* МОДАЛЬНОЕ ОКНО */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--animation);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  min-height: 581px;
  padding: 40px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--animation);
}
.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}
.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.close-svg {
  transition: fill var(--animation);

  fill: var(--title-color);
}
.modal-btn:focus .close-svg,
.modal-btn:hover .close-svg {
  fill: var(--active-color);
}
/* форма модального окна */
.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-color);
}
.modal-form {
  display: flex;
  flex-direction: column;

  width: 100%;
}
.modal-label {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}
.modal-subtitle {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--text-color);
}
.modal-input {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border-color var(--animation);
}
.modal-span {
  position: relative;
}
.modal-input-icon {
  position: absolute;

  top: 50%;
  left: 12px;

  transition: fill var(--animation);

  transform: translateY(-50%);
}
.modal-texterea {
  width: 100%;
  height: 120px;

  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: none;
  resize: none;

  transition: border-color var(--animation);
}
.modal-label.texterea {
  margin-bottom: 20px;
}
.modal-texterea:focus {
  border-color: var(--active-color);
}
.modal-texterea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.modal-input:focus {
  border-color: var(--active-color);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--active-color);
}
/* checkbox */
.modal-label-checkboks {
  display: flex;
  justify-content: center;
}
.span-checkbox {
  display: flex;

  font-size: 14px;
  line-height: 1.71;

  color: var(--text-color);
}
.span-checkbox a {
  margin-left: 2pt;
  text-decoration-line: underline;
  color: var(--active-color);
}
.modal-label-checkboks {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.checkbox-icon {
  border-radius: 2px;
}
.checkbox-icon,
.checkbox-check {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 16px;
  height: 15px;
}
.checkbox-check-svg {
  background-origin: border-box;
}
.modal-checkbox:checked + .checkbox-icon {
  fill: var(--active-color);
  background-color: var(--active-color);
}
/* CКРЫВАЕМ МОДАЛЬНОЕ ОКНО */
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
