/* Преймущества блок */
.list-one li {
  flex-basis: calc((100% - 90px) / 4);
}
.oneblock-icon {
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  background-color: var(--bcg-color);
  border-radius: 4px;
}
.oneblock-svg {
  fill: var(--title-color);
}
.section.one .subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  color: var(--title-color);
  line-height: 1.15;
  text-transform: uppercase;
}
.section.one .text {
  font-size: 14px;
  line-height: 1.7;
}
.list-one {
  display: flex;
}
.list-one li:not(:last-child) {
  margin-right: 30px;
}
