.footer {
  padding: 60px 0px;

  color: var(--white-color);
  background-color: #2f303a;

  &__flex {
    display: flex;
    align-items: baseline;
  }
  &__logo {
    color: inherit;
  }
  &__title {
    margin-bottom: 20px;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--white-color);
  }
  &__join {
    margin-left: 80px;
  }
}

.address {
  margin-top: 20px;

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__link {
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;

    transition: color var(--animation);
  }
  &__link--start {
    color: rgba(255, 255, 255, 0.6);
  }
  &__link:hover,
  &__link:focus {
    color: var(--active-color);
  }
}

//                  ФУТЕР СОЦ СЕТИ

.footer .soc-net__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);

  &:hover,
  &:focus {
    background-color: var(--active-color);
  }
}
