.section-hero {
  padding: 200px 0px;

  background-color: #2f303a;
  background-image: linear-gradient(var(--bcg-hero), var(--bcg-hero)), url('../images/bgc-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;

  &__title {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    color: var(--white-color);
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
