.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-color);
}
.modal-form {
  display: flex;
  flex-direction: column;

  width: 100%;
}
.modal-label {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}
.modal-subtitle {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--text-color);
}
.modal-input {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border-color var(--animation);
}
.modal-span {
  position: relative;
}
.modal-input-icon {
  position: absolute;

  top: 50%;
  left: 12px;

  transition: fill var(--animation);

  transform: translateY(-50%);
}
.modal-texterea {
  width: 100%;
  height: 120px;

  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: none;
  resize: none;

  transition: border-color var(--animation);
}
.modal-label.texterea {
  margin-bottom: 20px;
}
.modal-texterea:focus {
  border-color: var(--active-color);
}
.modal-texterea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.modal-input:focus {
  border-color: var(--active-color);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--active-color);
}
/* checkbox */
.modal-label-checkboks {
  display: flex;
  justify-content: center;
}
.span-checkbox {
  display: flex;

  font-size: 14px;
  line-height: 1.71;

  color: var(--text-color);
}
.span-checkbox a {
  margin-left: 2pt;
  text-decoration-line: underline;
  color: var(--active-color);
}
.modal-label-checkboks {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.checkbox-icon {
  border-radius: 2px;
}
.checkbox-icon,
.checkbox-check {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 16px;
  height: 15px;
}
.checkbox-check-svg {
  background-origin: border-box;
}
.modal-checkbox:checked + .checkbox-icon {
  fill: var(--active-color);
  background-color: var(--active-color);
}
